.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    
  }

  .h1{
      margin-bottom: 0;
      text-align: center;
      
  }
  .h3{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    
}
.h5{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center; 
    padding: 10px; 
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 15%;
    max-width: 15%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  
  #tribute-link {
    color: cornflowerblue;
    font-weight: bold;
  }
  
  #image {
    max-width: 500px;
    display: block;
    box-shadow: 4px 4px 8px black;
  }
  
  #img-caption {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
  }
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }
  
  blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }
  #headline {
    margin: 50px 0;
    text-align: center;
  }
  .body{
      text-align: center;
  }
  
  
